body {
font-family: ubuntu, serif;
}

a:empty {
  display: block;
  position: absolute; /* see #4404 */
}

.title {
color: #000;
text-align: center;
}

.subtitle {
color: #000;
text-align: center;
font-weight: bold;
}


.author {
font-style: italic;
text-align: center;
}

.date {
text-align: center;
}

.footnotes {
font-size: smaller;
}

.footnote-ref {
text-decoration: none;
}

h1 {
color: #000;
page-break-inside: avoid;
}

h1::after {
    content: "";
    display: block;
    height: 100px;
    margin-bottom: -100px;
}

h2 {
color: #000;
page-break-inside: avoid;
}

h2::after {
    content: "";
    display: block;
    height: 100px;
    margin-bottom: -100px;
}


h3 {
color: #000;
page-break-inside: avoid;
}

h3::after {
    content: "";
    display: block;
    height: 100px;
    margin-bottom: -100px;
}

h4 {
color: #000;
page-break-inside: avoid;
}

h4::after {
    content: "";
    display: block;
    height: 100px;
    margin-bottom: -100px;
}

h5 {
color: #000;
page-break-inside: avoid;
}

h5::after {
    content: "";
    display: block;
    height: 100px;
    margin-bottom: -100px;
}

blockquote {
background-color: #edf2f7;
padding: 10px;
border-left: 1px #000 solid;
}

figure {
  border: thin silver solid;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  display: block;
    margin: auto;
  padding: 0.5em;
}

a {
color: #000;
}

img {
max-width: 100%;
}

nav::before {
content: "Sommaire";
color: #000;
font-weight: bold;
}

nav {
padding: 0.5em;
}

nav ul {
list-style-type: none;
}

nav {
background-color: #edf2f7;
}

nav a {
text-decoration: none;
color: #000;
}

